.home-content {
  display: inline-block;
  margin-left: var(--mainPage-marginLeft);
  width: var(--home-width);
}

.home-sessionList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-sessionList > .card {
  width: auto
}

@media only screen and (max-width: 1050px) {
 .home-content {
   width: 740px;
 }
}

@media only screen and (max-width: 950px) {
  .home-content {
    width: 670px;
  }
}

@media only screen and (max-width: 890px) {
  .home-content {
    margin-left: 0;
    width: 90%;
  }
}
