#home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-content {
  display: inline-block;
  margin-left: calc(((100% - var(--home-width) - var(--sideNav-width)) / 2) + var(--sideNav-width));
  margin-right: calc((100% - var(--home-width) - var(--sideNav-width)) / 2);
  width: var(--home-width);
}

.home-sessionList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-sessionList > .card {
  width: auto
}

@media only screen and (max-width: 1020px) {
  .home-content {
    margin: 0 auto;
    width: 90%;
  }
}
