#lessonDetails {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.lessonDetails-slideContent {
  margin: 0 auto;
  width: var(--home-width);
}

.lessonDetails-slide {
  --lessonDetails-height: 600px;

  height: var(--lessonDetails-height);
  margin-left: var(--mainPage-marginLeft);
  width: 80%;
}

.lessonDetails-slideTitle {
  font-size: var(--l-text-size);
  margin-bottom: var(--spacing-2);
  text-align: left;
}

@media only screen and (max-width: 1250px) {
  .lessonDetails-slideContent {
    width: var(--playerContent);
  }
}

@media only screen and (max-width: 890px) {
  .lessonDetails-slide {
    margin-left: 0;
  }
  .lessonDetails-slideContent {
    margin: 0 auto;
    width: 400px;
  }
}

@media only screen and (max-width: 680px) {
  .lessonDetails-slideContent {
    margin: 0 auto;
    width: 300px;
  }
}
