#lessonDetails {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.lessonDetails-slideContent {
  margin: 0 auto;
  width: var(--home-width);
}

.lessonDetails-slide {
  --lessonDetails-height: 600px;

  height: var(--lessonDetails-height);
  margin-left: var(--mainPage-marginLeft);
  width: 80%;
}

@media only screen and (max-width: 890px) {
  .lessonDetails-slide {
    margin-left: 0;
  }
}
