#profile {
  border: 1px solid var(  --illustration-lightGrey);
  border-radius: var(--background-border-radius);
  box-shadow:  var(--card-shadow);
  height: 25%;
  margin: 0 30%;
  margin-top: 1%;
  padding: 0 var(--spacing-4);
  width: 50%;
}
#profile h3 {
  display: inline;
  margin-right: var(--spacing-4);
}
#profile img {
  vertical-align: bottom;
}

.profile-header {
  margin-top: var(--spacing-3);
}

.profile-content {
  margin-top: var(--spacing-5);
}

.profile-studentName {
  color: var(--illustration-turquoise);
  font-weight: bold;
}