.card {
  border: var(--card-border-width) solid var(--illustration-lightGrey);
  border-radius: var(--background-border-radius);
  box-shadow: var(--card-shadow);
  height: var(--card-height);
  margin: var(--spacing-3);
  padding: var(--spacing-3);
  width: var(--card-width);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  font-weight: bold;
}

.card h4 {
  margin: var(--spacing-2) auto;
}

.card-link {
  border: none;
  font-family: var(--font-family);
  font-size: var(--m-text-size);
  font-weight: bold;
  text-decoration: underline;
}

.card-loading {
  animation: var(--skeleton-animation);
  background-color: var(--background-color);
  border: none;
}
.card-loading:hover {
  box-shadow: var(--card-shadow);
}

@media only screen and (max-width: 410px) {
  .card {
    width: 130px;
  }
}

@media only screen and (max-width: 370px) {
  .card {
    width: 100px;
  }
  .card h4 {
    margin: var(--spacing-1) auto;
  }
}
