.card {
  --card-height: 150px;
  border: 1px solid var(  --illustration-lightGrey);
  border-radius: var(--background-border-radius);
  box-shadow:  var(--card-shadow);
  height: var(--card-height);
  margin: var(--spacing-3);
  padding: var(--spacing-5);
}