#sideNav ul {
  background-color: var(--tangerine-30);
  font-size: var(--l-text-size);
  height: 100%;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  width: 20%;
}
#sideNav li a {
  color: var(--black);
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
#sideNav li a.active {
  color: var(--primary);
  font-weight: bold;
}
#sideNav li a:hover:not(.active) {
  background-color: var(--yellow-30);
  color: var(--tangerine-30);
}

.sideNav-userName {
  color: var(--illustration-brightYellow);
  margin-bottom: var(--spacing-4);
}