#settings {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.settings-content {
  margin-left: calc(((100% - var(--home-width) - var(--sideNav-width)) / 2) + var(--sideNav-width));
  margin-right: calc((100% - var(--home-width) - var(--sideNav-width)) / 2);
}

.settings-saveChanges {
  background-color: var(--illustration-turquoise);
  color: var(--primary);
}
