#settings {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.settings-content {
  margin: 0 auto;
  margin-left: var(--mainPage-marginLeft);
  width: 75%;
}

.settings-saveChanges {
  background-color: var(--illustration-turquoise);
  color: var(--primary);
}
