#assignment {
  /* --section-height: 200px; */
  height: var(--section-height);
  margin-left: 20%;
  margin-top: var(--layout-5);
  padding: 0 var(--spacing-4);
}

.assignment-header {
  border-bottom: 1px solid var(--illustration-turquoise);
  color: var(--illustration-turquoise);
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-4);
  text-align: left;
}
.assignment-toggleExpandButton {
 display: inline;
}
.assignment-toggleExpandButton:hover {
  cursor: pointer;
 }
 .assignment-toggleExpandButton > summary:focus {
   outline: none;
 }
.assignment-header h3 {
  display: inline;
  margin: 0;
}

.assignment-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.assignment-lessonCard {
  border: 1px solid var(  --illustration-lightGrey);
  border-radius: var(--background-border-radius);
  box-shadow:  var(--card-shadow);
  height: 150px;
  margin: var(--spacing-3);
  padding: var(--spacing-5);
}