#assignment {
  margin-top: var(--layout-5);
  padding: 0 var(--spacing-4);
}

.assignment-link:visited {
  color: var(--blue-50);
  text-decoration: none;
}

.assignment-header {
  border-bottom: 1px solid var(--illustration-turquoise);
  color: var(--illustration-turquoise);
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-4);
  text-align: left;
}
.assignment-toggleExpandButton {
 display: inline;
}
.assignment-toggleExpandButton:hover {
  cursor: pointer;
 }
 .assignment-toggleExpandButton > summary:focus {
   outline: none;
 }
.assignment-header h3 {
  display: inline;
  margin: 0;
}

.assignment-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.assignment-adjustGrid {
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 631px) {
  .assignment-content > .card {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 800px) {
  .assignment-adjustGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 630px) {
  .assignment-content {
    justify-items: center;
  }

  .assignment-adjustGrid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
