#grades {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grades-content {
  display: inline-block;
  margin-left: calc(((100% - var(--home-width) - var(--sideNav-width)) / 2) + var(--sideNav-width));
  margin-right: calc((100% - var(--home-width) - var(--sideNav-width)) / 2);
  text-align: left;
}

.grades-table {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-spacing: 0;
  border: 3px solid var(--illustration-dustPink);
  border-radius: 5px;
}

.grades-table tr {
  font-size: large;
  line-height: 2.3em;
  padding: var(--spacing-3);
}

.grades-row {
  border: 1px solid red;
}

.grades-table-header th {
  background-color: var(--illustration-dustPink);
  color: var(--primary);
}

.grades-table th, .grades-table tr td, .grades-header {
  text-align: center;
}

.grades-row:hover {
  cursor: pointer;
  background-color: rgba(229, 114, 129, 0.5);
}

.grades-homeworkTable {
  background-color: rgba(229, 114, 129, 0.3);
  border-spacing: 0;
  width: 100%;
  color: var(--p)
}

.grades-homeworkTable thead th {
  font-weight: 700;
}

.grades-homeworkRow tbody td {
  font-weight: normal;
}

.grades-homeworkTable  .grades-homeworkRow td {
  padding: 2px;
}

.grades-header {
  color: var(--green-50);
  font-size: var(--xl-text-size);
  margin-top: var(--layout-2);
}

@media only screen and (max-width: 1050px) {
  .grades-content {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (max-width: 580px) {
  .grades-table tr {
    font-size: medium;
  }
}

@media only screen and (max-width: 580px) {
  .grades-table tr {
    font-size: small;
  }
}