html, body, #app {
  font-family: var(--font-family);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
}

#app > div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.note {
  background-color: var(--note-message-background);
  border: var(--note-message-border);
  border-radius: var(--note-border-radius);
  color: var(--illustration-brightOrange);
  line-height: 1.4em;
  padding: var(--spacing-3);
}

.error {
  background-color: var(--illustration-brightYellow);
  color: var(--warning);
  font-size: var(--l-text-size);
}

.loading {
  animation: var(--skeleton-animation);
  background-color: var(--background-color);
  border-radius: var(--content-border-radius);
  display: block;
  height: 3rem;
  margin: var(--spacing-4) auto;
  width: 80%;
}

.loadingButton {
  opacity: 0.2;
}
.loadingButton:hover {
  cursor: not-allowed;
}
