html, body, #app {
  font-family: var(--font-family);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
}

#app > div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
