html,
body,
#app {
  font-family: var(--font-family);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

#app > div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.back {
  background-color: var(--primary);
  border: none;
  color: var(--illustration-brightOrange);
  display: inherit;
  font-family: var(--font-family);
  font-size: var(--l-text-size);
  text-align: left;
}
.back:hover {
  cursor: pointer;
}

.button {
  border: 0;
  border-radius: var(--button-border-radius);
  box-shadow: none;
  font-family: var(--font-family);
  font-size: var(--m-text-size);
  padding: var(--spacing-4) var(--spacing-7);
}

.button[disabled],
.button[disabled]:hover {
  background: var(--background-color);
  border: thin solid var(--border-color);
  color: var(--border-color);
  cursor: not-allowed;
}

.note {
  background-color: var(--note-message-background);
  border: var(--note-message-border);
  border-radius: var(--note-border-radius);
  color: var(--illustration-brightOrange);
  line-height: 1.4em;
  padding: var(--spacing-3);
}

.error {
  background-color: var(--illustration-brightYellow);
  color: var(--warning);
  font-size: var(--l-text-size);
}

.error-message {
  color: var(--warning);
}

.success {
  color: var(--green);
  font-weight: bold;
  margin-bottom: var(--spacing-size-d);
}

.warning {
  color: var(--illustration-brightYellow);
}

.loading {
  animation: var(--skeleton-animation);
  background-color: var(--background-color);
  border-radius: var(--content-border-radius);
  display: block;
  height: 3rem;
  margin: var(--spacing-4) auto;
  width: 80%;
}

.loadingButton {
  opacity: 0.2;
}
.loadingButton:hover {
  cursor: not-allowed;
}

.input {
  display: block;
  font-family: var(--font-family);
  font-size: medium;
  height: var(--spacing-6);
  padding: var(--spacing-2) var(--spacing-3);
  width: 100%;
}

.inputLabel {
  display: block;
  float: left;
  margin-left: var(--spacing-3);
  margin-top: var(--spacing-3);
}

.inputWrapper {
  margin: var(--spacing-3);
}
