/* global variables */

:root {
  --background-border-radius: 25px;
  --button-border-radius: 8px;
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --content-border-radius: 10px;
  --card-border-width: 3px;
  --card-height: 150px;
  --card-width: 150px;
  --font-family: 'Nunito', sans-serif;
  --playerContent: 500px;
  --home-width: 800px;
  --mainPage-marginLeft: 250px;
  --note-border-radius: 4px;
  --note-message-border: 1px solid #ffeeba;
  --note-message-background: #fff3cd;
  --sideNav-width: 180px;
  --skeleton-animation: load-skeleton 0.75s infinite alternate;
  --text-border-radius: 12px;
  --line-height: 1.8;

  --sm-text-size: 13px;
  --m-text-size: 15px;
  --font-size-h3: 18px;
  --l-text-size: 22px;
  --xl-text-size: 28px;

  --primary: #fff;
  --black: #000;
  --warning: #ff0000;
  --background-color: #b1b1b1;
  --on-background: #354954;

  --blue-10: #d3e8f9;
  --blue-20: #9acef9;
  --blue-30: #4897d8;
  --blue-40: #4f89b9;
  --blue-50: #2971ad;

  --indigo-10: #d7d8fa;
  --indigo-20: #a3a5fa;
  --indigo-30: #565ade;
  --indigo-40: #5b5dbe;
  --indigo-50: #3135b1;

  --yellow-10: #fffed5;
  --yellow-20: #ffe497;
  --yellow-30: #ffe262;
  --yellow-40: #dbb855;
  --yellow-50: #cca229;

  --tangerine-10: #ffe3d5;
  --tangerine-20: #ffb897;
  --tangerine-30: #ff8449;
  --tangerine-40: #db8055;
  --tangerine-50: #cc5e29;

  --green: #11912e;
  --green-10: #d0faeb;
  --green-20: #93fad6;
  --green-30: #3edba4;
  --green-40: #49bb93;
  --green-50: #24af7e;

  --illustration-darkPurple: #73325a;
  --illustration-purple: #9a3b82;
  --illustration-chocolate: #a0505a;
  --illustration-brightOrange: #fe5244;
  --illustration-dustPink: #e57281;
  --illustration-lightGrey: #e6e6e6;
  --illustration-turquoise: #3fb1b5;
  --illustration-brightYellow: #ffcf2d;
  --illustration-skyBlue: #66b0f0;
  --illustration-lightTurquoise: #d0f0e4;

  --text-size-1: 11px;
  --text-size-2: 13px;
  --text-size-3: 18px;
  --text-size-4: 24px;
  --text-size-5: 30px;
  --text-size-6: 35px;
  --text-size-7: 48px;
  --text-size-8: 60px;
  --text-size-9: 66px;

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 12px;
  --spacing-5: 16px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;

  --layout-1: 16px;
  --layout-2: 24px;
  --layout-3: 32px;
  --layout-4: 48px;
  --layout-5: 64px;
  --layout-6: 96px;
  --layout-7: 160px;
}

section {
  margin: auto;
  width: 100%;
}

input {
  border: thin solid #bfbfbf;
  border-radius: var(--note-border-radius);
}

@keyframes load-skeleton {
  from {
    opacity: 0;
  }
}
