#updatePassword {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.updatePassword-back {
  margin-left: var(--mainPage-marginLeft);
}

.updatePassword-content {
  margin: 0 auto;
  width: 75%;
}

.updatePassword-reset {
  background-color: var(--illustration-turquoise);
}